@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Macondo&family=Poppins:wght@400;500;600&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}  

/* Resetting Window */

 body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2D2424;
}


/* ************************************************* */

/* header container */
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;   
}

.title {
    font-size: 3rem;
    font-family: 'Bangers', cursive;
    color: #C68B59;
    font-size: 4rem;
    margin: 1rem;
}

.searchbox {
    margin: 1rem; 
}

.selectbox {
    margin: 1rem;
}
/* ************************************************* */

/* container section */

.container {
    display: flex;
    justify-content: center;
}

table {
    text-align: center;
    border-collapse: collapse;
} 

/* table Head */
.tableHead {
    font-size: 2rem;
    font-family: 'Handlee', cursive;
    color: #E0C097;
    font-weight: bold;
    background-color: #5C3D2E;
    width: 12rem;
    border: none;
}
.leftRadius {
    border-top-left-radius: 5px;
}
.rightRadius {
    border-top-right-radius: 5px;
}

/* Table */
.innerTable {
    background-color: #E0C097;
    padding: 1rem;
}

.h5{
    font-size: 1.5rem;
    font-family: 'Courier New', Courier, monospace;
}

.name {
    font-size: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}
